* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0e0e0d;
  min-height: 100%;
  width: 100%;

}

a {
  text-decoration: none;
  color: inherit
}

/* ------ start UI section -------- */
.start-container {

  min-height: 80vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(192, 192, 110);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.start-section {
  background-color: #ffc72a;
  color: #0e0e0d;
  text-align: center;
  border-radius: 10px;
}

.game-heading {
  padding: 10px;
}

#start-button {
  margin: 20px;
  text-align: center;
  vertical-align: center;
  min-width: 4em;
  min-height: 0.5em;
  font-size: 1.5em;
  border-radius: 10px;
}

/* ------------ game UI section -------- */

.game-section {
  display: none;
  max-height: 100%;
}

.game-section-heading {
  display: flex;
  width: 100vw;
  color: #ffc72a;
  justify-content: space-evenly;
  align-items: center;
  min-height: 15%;
}

.game-name {
  font-size: 1.8em;
  height: 40px;
  font-weight: 600;
  margin: 15px;
}

#restart {
  background-color: #0e0e0d;
  width: 100px;
  height: 35px;
  font-size: 1em;
  color: red;
  margin: 15px;
}

.card-label {
  text-align: center;
  padding-top: 8px;
  width: 150px;
  height: 35px;
  border: 1px solid #ffc72a;
  ;
  color: #ffc72a;
  font-weight: 500;
  margin: 15px;
}

.card-label span {
  font-weight: bold;
}

#game {
  background-color: #0e0e0d;
  min-height: 75vh;
  max-height: 75vh;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.cards {
  position: relative;
  border: 1px solid black;
  width: 11vw;
  height: 13vw;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  border-radius: 15px;
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  border-radius: 15px;
  backface-visibility: hidden;
}

.back-face {
  transform: rotateY(180deg);
}

.front-face img,
.back-face img {
  width: 100%;
  height: 100%;
  border-radius: 15px;

}

.flipCard {
  transform: rotateY(180deg);
}

/* ---------- restart UI section -------- */
.restart-section {
  display: none;
  width: 450px;
  height: 150px;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -100%);
}

.restart-section p {
  padding-top: 20px;
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
}

.restart-section div {
  display: flex;
  justify-content: space-around;
}

.restart-confirm-button {
  margin-top: 30px;
  width: 100px;
  height: 30px;
  background-color: #ffc72a;
  border: none;
  box-shadow: 1px 1px 5px gray;
  border-radius: 10px;
  font-weight: 600;


}


@media (max-width: 1400px) {
  .cards {
    border: 1px solid wheat;
    width: 120px;
    height: 130px;
    min-height: 100px;
    box-shadow: 1px 1px 1px white;
  }
}


@media (max-width: 715px) {
  .game-name {
    font-size: 1.2em;
    margin: 10px 0 0px 15px;
  }
}

#start-button {
  margin: 20px;
  text-align: center;
  vertical-align: center;
  min-width: 4em;
  min-height: 0.5em;
  font-size: 1.5em;
  border-radius: 10px;
}


@media (max-width: 550px) {
  .game-section-heading {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .game-name {
    min-width: 100vw;
    font-size: 1.2em;
    height: 40px;
    font-weight: 600;
    text-align: center;
    padding-top: 5px;
    margin: 0 0 10px 0;

  }

  #restart {
    margin: 0 0 15px 0;
  }

  .card-label {
    width: 130px;
    margin: 0 0 15px 0;

  }

  .cards {
    border: 1px solid wheat;
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    box-shadow: 1px 1px 1px white;
  }

  .restart-section {
    width: 80vw;
    height: 170px;
    padding: 10px;
  }
}


@media (max-width: 375px) {
  .cards {
    border: 1px solid wheat;
    max-width: 60px;
    min-width: 60px;
    max-height: 60px;
    min-height: 60px;
    box-shadow: 1px 1px 1px white;
  }


  #restart {
    width: 100px;
    margin: 0 0 15px 0;
  }

  .card-label {
    width: 100px;
    font-size: 0.8em;
    margin: 0 0 15px 0;

  }

}